body{
    background-color: white;
    font-style: normal;
    font-family: 'Raleway';
    margin: 0;
}
nav{
    background-color: darkcyan;
    text-align: right;
    font-size: 18px;
    text-transform: uppercase;
}
nav a{
    display: inline-block;
    color: white;
    padding: 1.5em;
    text-decoration: none;
    font-family: sans-serif;    
}
nav a:hover{
    background-color: white;
    color: darkcyan;
}
h1{
    font-size: 45px;
}
h2{
    font-size: 20px;
    text-transform: uppercase; 
}
section{
    padding: 5px;
}
.container{
    width: 50%;
    height: 100%;
    top: 0;
    bottom: 0;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom:5%; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}
.info>ul{
    list-style-type: square;
}
.info{
 
}